body {
	font-size: 11px;
}

.ar_label {
	text-align: left !important
}
.cs_h1 {
	text-align: center !important
}

span.filesizelbl {
	padding-left: 15px
}

.form-group.required .control-label:not(.req_arb):after {
	content: "*";
	color:	red;
}
.form-group.required .control-label:not(.req_eng):before {
	content: "*";
	color: red;
}

.form-control {
	height: 28px;
	font-size: 10px;
}

#text2::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}

.rt-bdr {
	border-right: 0.1em solid;
}

.panel {
	margin-bottom: 0px;
	border: 0;
}
.panel-heading {
	padding: 1px 0px;
}